<table>
  <thead>
    <tr>
      <th>Identificador</th>
      <th>Descripción</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @test.relations.each do |relation| %>
      <tr>
        <td><%= relation.identifier %></td>
        <td><p><%= relation.description %></p></td>
        <td><%= link_to 'Eliminar', [@test, relation], method: :delete, data: { confirm: 'Are you sure?' }, class: "button" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Agregar Pregunta', new_test_relation_path(@test), class: "button" %>
