<div class="finishWrapper">
	<h5>La prueba ha finalizado</h5>
	<p>Para Informacion sobre el resultado contacte al encargado</p>
	<%= link_to "Ir a Inicio", {controller: "index", action: "home"}, class: "button" %>
</div>