<div class="index">
	<%= link_to "Iniciar Prueba Otis", {controller: "index", action: "info"}, class: "boton" %>
	<div class="fade">
		<div>
			<%= image_tag 'slider1.png' %>
		</div>
		<div>
			<%= image_tag 'slider2.png' %>
		</div>
		<div>
			<%= image_tag 'slider3.png' %>
		</div>
	</div>
</div>