<h1>Clasificaciones</h1>
<%= link_to 'Nueva Clasificación', new_classification_path, class: "button buttonPadding" %>
<br>
<br>
<br>
<div class="classificationWrapper">
  <table>
    <thead>
      <tr>
        <th>Descripción</th>
        <th>Acciones</th>
      </tr>
    </thead>

    <tbody>
      <% @classifications.each do |classification| %>
        <tr>
          <td><p><%= classification.description %></p></td>
          <td><%= link_to 'Editar', edit_classification_path(classification), class: "button" %> <%= link_to 'Eliminar', classification, method: :delete, data: { confirm: 'Are you sure?' }, class: "button" %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>  

