<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @classification.description %>
</p>

<%= link_to 'Edit', edit_classification_path(@classification) %> |
<%= link_to 'Back', classifications_path %>
