/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'slick';
@import 'slick-theme';

header{


	img{
		width: 35%;
	}

	nav{

		float: right;
		padding: 70px 40px;


		ul{
			list-style-type: none;
			li{
				float: left;
				padding: 0 20px 0 20px;

				a{
					color: #464646;
					font-size: 18px;
					text-decoration: none;
					font-family: 'Source Sans Pro', sans-serif;
					font-weight: 600;
					padding-bottom: 4px;

					&:hover{
						color: #337ab7;
						background-color: #fff;

						&:after{
							width: 100%;
				    	};
					};

					&:after{
				    	display: block;
					    content: "";
					    width: 0;
					    left: 0;
					    border-bottom: 2px solid #337ab7;
					    transition: all .3s linear 0s;
					    padding-bottom: 3px;
					    position: relative;
					    bottom: -1px;
				    }
				}
				.active{
					color: #337ab7;
					border-bottom: 2px solid #337ab7;
				}
			}
		}
	}

}


.fade{

	.slick-list{
		margin: 0;
	} 


	img{
		width: 100%;
	}
}

#notice{
	font-family: 'Source Sans Pro', sans-serif;
}

.index{
	text-align: center;
}

h6{
	text-align: center;
	font-size: 50px;
	color: #0063a8;
	font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
}

.boton{
	display: inline-block;
	padding: 25px 0 25px 0;
	font-size: 35px;
	background-color: #337ab7;
	color: #fff !important;
	text-decoration: none;
	font-weight: 600;	
	font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
	letter-spacing: 1px;
	width: 100%;
	text-transform: uppercase;

	&:hover{
		background-color: #078944;
	}
}

.slick-slide{
	outline: none;
}

.slick-arrow{
	filter: invert(50%);
}


.field{

	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;

	input{
		border: 1px solid #ccc;
    	box-shadow: inset 0 1px 3px #ddd;
    	border-radius: 4px;
    	padding: 5px;
    	font-family: 'Source Sans Pro', sans-serif;
		font-size: 16px;
	}

	select{
		border: 1px solid #ccc;
    	box-shadow: inset 0 1px 3px #ddd;
    	border-radius: 4px;
    	padding: 5px;
    	font-family: 'Source Sans Pro', sans-serif;
		font-size: 16px;
	}

	textarea{
		width: 400px;
		height: 70px;
		border: 1px solid #ccc;
    	box-shadow: inset 0 1px 3px #ddd;
    	border-radius: 4px;
    	padding: 5px;
    	font-family: 'Source Sans Pro', sans-serif;
		font-size: 16px;
	}

	
}

.actions{

	font-family: 'Source Sans Pro', sans-serif;
	font-size: 16px;

	input{
		border: none;
	}

}

.center{
	text-align: center;
}

.slick-next {
    right: -95px;
}

.slick-prev {
    left: -95px;
}

.scroller{
	margin-right: 200px;
	margin-left: 200px;
}

.slick-list{
	margin-right: 50px;
	margin-left: 50px;
}

.slick-slide:nth-child(1) slick-active slick-prev{
			display: none;
}

.slick-slider{
	background-color: white;
    border: 1px solid #e2e9e6;
    padding-top: 30px;
    padding-bottom: 30px;
}

.slick-slide{ 
	p{
		font-family: 'Source Sans Pro', sans-serif;
		font-size: 16px;
	}

	span{
		float: right;
		color: #337ab7;
		font-size: 50px;
		margin-left: 50px;
		margin-right: 10px;
		font-family: 'Source Sans Pro', sans-serif;
		font-weight: 600;
	}
}



.test{
}

.question{
	padding: 10px 20px;
}

.question:nth-child(odd) {
	background-color: #20B2AA;
	border-radius: 25px;
}

.features{
	vertical-align: top;
	margin: 0;
	display: inline-block;
	width: 20%;
	list-style-type: none;
	padding: 0;

	span{
		font-weight: bold;
	}
}

.details{
	vertical-align: top;
	width: 65%;
	display: inline-block;
}

.questionLinks{
	display: inline-block;
	list-style-type: none;
}

.finishTest{
	text-align: center;
	display: block;
	margin: 0 auto;
	margin-bottom: 40px;
}

.logInWrapper,
.classificationWrapper,
.careerWrapper,
.showWrapper,
.newWrapper,
.editWraper,
.infoWrapper{
	margin: 0 200px 0 200px;
	padding: 50px 0 50px 100px;
	background-color: white;
    border: 1px solid #e2e9e6;
    overflow: auto;

    form{
    	width: 35%;
    	float: left;
    }

    
}

.showWrapper{

	padding: 50px 100px 50px 100px;

	img{
		max-width: 100%;
	}

	p{
		font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
    	font-size: 20px;
    	color: #757575;
	}
}

.infoWrapper{
	img{
    	float: right;
    }
}

.typeButton{
	background-color: #078944;
	font-size: 50px;
	font-family: 'Noticia Text';
	color: #fff;
	border: none;
	padding: 20px 0;
	margin: 0 auto;
	display: block;
	width: 100%;
	cursor: pointer;
	margin-bottom: 20px;
}

body{
	margin: 0;
	background-color: #f5f5f5;
}

header{
	background-color: #fff;
	border-bottom: 1px solid #e2e9e6;
}


h1{
	margin: 0;
	padding: 30px 0;
	font-family: 'Noticia Text';
	font-weight: 400;
	font-size: 45px;
	padding-left: 40px;
	font-weight: 600;
	text-transform: uppercase;
}

h2{
	margin: 0;
	padding: 15px 0;
	font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
	font-weight: 400;
	font-size: 33px;
	color: #000;
}


.relationNewWrapper,
.relationWrapper,
.testWrapper,
.answerWrapper,
.questionsWrapper,
.filtersWrapper,
.studentsAnswersWrapper,
.studentWrapper,
.studentsWrapper{
	padding: 20px 40px;
	background-color: #fff;
	z-index: 1;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.17);
	margin: 0 40px;

	table{

		border-collapse: collapse;
    	border-spacing: 0;

		td{
			border-bottom: solid 1px #e2e9e6;
			font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
			font-size: 17px;
			color: #757575;

			&:last-child{
				text-align: right;
			}
		}

		th{
			border-bottom: solid 1px #e2e9e6;
			padding: 10px 0 25px 0;
			font-family: 'Noticia Text';
			font-size: 24px;
			font-weight: normal;
			text-align: left;
			font-weight: bold;

			&:last-child{
				text-align: right;
			}
		}

		span{
			font-size: 25px;
			color: #0063a8;
		}

		p{
			display: inline-block;
			margin: 12px 0;
		}
	}
}

.relationNewWrapper{

	table{
		width: 100%;

		th,
		td{

			&:last-child{
				text-align: left;
			}

			&:first-child{
				width: 10%;
			}

			&:nth-child(2){
				width: 15%;
			}
		}

	}
}

.relationWrapper{
	table{
		width: 100%;

		th,
		td{
			&:first-child{
				width: 15%;
			}

			&:last-child{
				width: 15%;
			}
		}
	}

}

.right{
	float: right;
	width: 50%;
}

.left{
	float: left;
	width: 50%;
}

.classificationWrapper{
	padding: 20px 40px;
	background-color: #fff;
	z-index: 1;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.17);


	table{

		border-collapse: collapse;
    	border-spacing: 0;
    	width: 100%;

		td{
			border-bottom: solid 1px #e2e9e6;
			font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
			font-size: 17px;
			color: #757575;

			&:last-child{
				text-align: right;
			}
		}

		th{
			border-bottom: solid 1px #e2e9e6;
			padding: 10px 0 25px 0;
			font-family: 'Noticia Text';
			font-size: 24px;
			font-weight: normal;
			text-align: left;
			font-weight: bold;

			&:last-child{
				text-align: right;
			}
		}

		span{
			font-size: 25px;
			color: #0063a8;
		}

		p{
			display: inline-block;
			margin: 12px 0;
		}
	}
}

.careerWrapper{
	padding: 20px 40px;
	background-color: #fff;
	z-index: 1;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.17);


	table{

		border-collapse: collapse;
    	border-spacing: 0;

		td{
			border-bottom: solid 1px #e2e9e6;
			font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
			font-size: 17px;
			color: #757575;

			&:last-child{
				text-align: right;
			}
		}

		th{
			border-bottom: solid 1px #e2e9e6;
			padding: 10px 0 25px 0;
			font-family: 'Noticia Text';
			font-size: 24px;
			font-weight: normal;
			text-align: left;
			font-weight: bold;

			&:last-child{
				text-align: right;
			}
		}

		span{
			font-size: 25px;
			color: #0063a8;
		}

		p{
			display: inline-block;
			margin: 12px 0;
		}
	}
	table{
		width: 100%;

		th,
		td{

			&:last-child{
				width: 19%;
			}
		}
	}
}

.testWrapper{

	table{
		width: 100%;

		th,
		td{
			width: 25%;

			&:last-child{
				width: 19%;
			}
		}
	}
}	

.answerWrapper{
	table{
		width: 100%;

		img{
			width: 90%;
		}

		th,
		td{
			width: 29%;

			&:last-child{
				width: 15%;
			}
		}
	}
}

.studentsWrapper{

	td{
		width: 16%;
	}

	th{
		width: 16%;
	}
}

.questionsWrapper{

	margin-top: 40px; 

	img{
		max-width: 90%;
	}

	tbody{

		tr{
			margin: 12px 0;

			td{
				width: 10%;

				&:nth-child(4){
					width: 35%;
				}

				&:last-child{
					width: 15%;
				}

				button{
					display: block;
				}
				
				p{
					display: block;
    				width: 90%;
				}
			}
		}
		
	}
	
	th{
		width: 10%;
	}
}

.correct{
	color: #81c784 !important;
}

.incorrect{
	color: #e57373 !important;
}

.filtersWrapper{
	margin-bottom: 40px;

	div{
		margin-bottom: 20px;
		width: 50%;

		label{
			padding-bottom: 10px;
			display: block;
		}
	}
}

.showWrapper{
	img{
		padding-top: 20px;
	}

	ul{
		margin-left: 50px;

		li{
			font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
			font-size: 18px;
			color: #757575;
		}
	}
}

.studentsWrapper{

	overflow: auto;
	margin-bottom: 50px;

	ul{
		list-style-type: none;
		padding: 0;
		font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
		font-size: 20px;
		margin: 0;
		color: #757575;

		li{
			display: inline-block;
			width: 275px;
			padding: 10px 0 10px 0;
			font-weight: bold;
		}

		p{
			display: inline-block;
			margin: 8px 0; 
			margin-left: 275px;
			padding-right: 40px;
		}

	}
}

.listInformation{
	float: left;
	width: 40%;	
}

.listResults{
	float: right;
	width: 60%;	
}

.studentsAnswersWrapper{
	font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
	padding-bottom: 40px;
	margin-bottom: 40px; 

	div{
		border-bottom: solid 1px #e2e9e6;
	}

	span{
		color: #0063a8;
	}
}

.button{
	background-color: #42a5f5;
	color: #ffffff;
    border-color: #0d89ed;
    text-transform: uppercase;
    padding: 8px 12px;
    font-size: 14px;
    border-radius: 3px;
    text-decoration: none;
    font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;

    &:hover{
    	background-color: #128ef2;
    }
}

.buttonPadding{
	margin-left: 40px;
}


.finishWrapper{
	font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
	text-align: center;

	h5{
		text-transform: uppercase;
	    background-color: #337ab7;
	    color: #fff;
	    padding-bottom: 30px;
	    padding-top: 30px;
	    font-size: 60px;
	    font-style: italic;
	    margin-top: 130px;
	    letter-spacing: 3px;
	    margin-bottom: 60px;
	}

	p{
		font-size: 25px;
		margin-bottom: 40px;
	}
}

.typeWrapper{

	p{
		font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
		font-size: 20px;
		padding-left: 40px;
	}

	ul{
		margin-left: 40px;
		font-size: 17px;
		font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
		margin-bottom: 30px;
	}
}

#time{
	margin: 50px 100px 10px 0;
	text-align: right;
	font-size: 60px;
	color: #078944;
	font-family: RobotoDraft, 'Helvetica Neue', Helvetica, Arial;
	font-weight: 600;
	font-style: italic;
}

@font-face {
  font-family: 'RobotoDraft';
  font-style: normal;
  font-weight: 400;
  src: local('RobotoDraft'), local('RobotoDraft-Regular'), url(https://fonts.gstatic.com/s/robotodraft/v1/0xES5Sl_v6oyT7dAKuoni4gp9Q8gbYrhqGlRav_IXfk.woff2) format('woff2'), url(https://fonts.gstatic.com/s/robotodraft/v1/0xES5Sl_v6oyT7dAKuoni7rIa-7acMAeDBVuclsi6Gc.woff) format('woff');
}
